@@font-face {
  font-family: prisma;
  src: url("../fonts/Prisma.ttf");
}

body{
  background-color: #ccc;
}

#wrapper{
  width: 800px;
  background-color: white;
  margin: 5px auto;
}

#header, #footer{
  background-color: lightblue;
}

#header{
  padding: 10px 20px;
  font-family: prisma;
}
#main{
  overflow: auto;
}
#menu{
  float: left;
  width: 150px;
}

#menu ul{
    list-style: none;
}

#menu ul a:link, #menu ul a:visited{
  text-decoration: none;
  color: #888;
  font-weight: bold;
}

#menu ul a:hover{
  color: #555;
}

#article{
  float: right;
  width: 618px;
  padding: 15px;
  border-left: 2px solid lightblue;
}

#article > img{
  width: 300px;
  float: right;
}

#footer{
  padding: 10px;
  text-align: center;
}
