body{
  background-color: #ccc;
}

#wrapper{
  width: 780px;
  background-color: white;
  margin: 5px auto;
}
table, th,td{
  border: 3px solid lightblue;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
td{
  width: 120px;
  height: 20px;
}
caption{
  background-color: lightblue;
}
.nb{
  border: 0;
}
.io{
  background-color: #F09833;
}
.pe{
  background-color: #8A3CAE;
}
.bd{
  background-color: pink;
}
.tw{
  background-color: #DA2D2D;
}
.dap{
  background-color: #EFF25B;
}
.da{
  background-color: #55EEEC;
}
.in{
  background-color: lightgreen;
}
